<?php
    global $OUTPUT;
    // set to defaults if undefined
    if (!isset($config->auth_activated)) {
        $config->auth_activated = 0;
    }
    if (!isset($config->loginlink)) {
        $config->loginlink = '';
    }
    if (!isset($config->tokenlink)) {
        $config->tokenlink = '';
    }
    if (!isset($config->logoutlink)) {
        $config->logoutlink = '';
    }
	
	
	//webservice default
	if (!isset($config->assessment_duration)) {
        $config->assessment_duration = 1;
    }
	if (!isset($config->crmurlapi)) {
        $config->crmurlapi = 'https://wst.anziif.com:8080/CYTYCWebServices/ExternalService/ExternalService.svc?wsdl';
    }
	if (!isset($config->crmtokenapi)) {
        $config->crmtokenapi = '3bbcee75cecc5b568031';
    }
	if (!isset($config->emailforerror)) {
        $config->emailforerror = '';
    }
	

    $yesno = array( get_string('no'), get_string('yes') );
?>

<table cellspacing="0" cellpadding="5" border="0">

	<tr valign="top" class="required">
	    <td align="right"><label for="menusybasequoting"><?php print_string("auth_activated", "auth_anziif") ?></label></td>
	    <td>
	        <?php echo html_writer::select($yesno, 'auth_activated', $config->auth_activated, false); ?>
	    </td>
	    <td><?php print_string("auth_activated_description", "auth_anziif") ?></td>
	</tr>

	<tr valign="top" class="required">
	    <td align="right"><label for="loginlink"><?php print_string("login_link", "auth_anziif") ?></label></td>
	    <td>
	        <input id="loginlink" name="loginlink" type="text" size="30" value="<?php echo $config->loginlink?>" />
	        <?php
	        if (isset($err["loginlink"])) {
	            echo $OUTPUT->error_text($err["loginlink"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("login_link_description", "auth_anziif") ?></td>
	</tr>


	<tr valign="top" class="required">
	    <td align="right"><label for="tokenlink"><?php print_string("token_link", "auth_anziif") ?></label></td>
	    <td>
	        <input id="tokenlink" name="tokenlink" type="text" size="30" value="<?php echo $config->tokenlink?>" />
	        <?php
	        if (isset($err["tokenlink"])) {
	            echo $OUTPUT->error_text($err["tokenlink"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("token_link_description", "auth_anziif") ?></td>
	</tr>

	<tr valign="top" class="required">
	    <td align="right"><label for="logoutlink"><?php print_string("logout_link", "auth_anziif") ?></label></td>
	    <td>
	        <input id="logoutlink" name="logoutlink" type="text" size="30" value="<?php echo $config->logoutlink?>" />
	        <?php
	        if (isset($err["logoutlink"])) {
	            echo $OUTPUT->error_text($err["logoutlink"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("logout_link_description", "auth_anziif") ?></td>
	</tr>

	<?php
		print_auth_lock_options($this->authtype, $user_fields, get_string('auth_fieldlocks_help', 'auth'), false, false);
	?>
	<tr valign="top" class="required">
	    <td align="right"><h2><?php print_string("webservice_anziif", "auth_anziif") ?></h2></td>
	    
	</tr>
	<tr valign="top" class="required">
	    <td align="right"><label for="assessment_duration"><?php print_string("webservice_anziif_assessment_duration", "auth_anziif") ?></label></td>
	    <td>
	        <input id="assessment_duration" name="assessment_duration" type="text" size="30" value="<?php echo $config->assessment_duration?>" />
	        <?php
	        if (isset($err["assessment_duration"])) {
	            echo $OUTPUT->error_text($err["assessment_duration"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("webservice_anziif_assessment_duration_desc", "auth_anziif") ?></td>
	</tr>
	
	<tr valign="top" class="required">
	    <td align="right"><label for="crmurlapi"><?php print_string("webservice_anziif_crmurlapi", "auth_anziif") ?></label></td>
	    <td>
	        <input id="crmurlapi" name="crmurlapi" type="text" size="30" value="<?php echo $config->crmurlapi?>" />
	        <?php
	        if (isset($err["crmurlapi"])) {
	            echo $OUTPUT->error_text($err["crmurlapi"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("webservice_anziif_crmurlapi_desc", "auth_anziif") ?></td>
	</tr>
	
	<tr valign="top" class="required">
	    <td align="right"><label for="crmtokenapi"><?php print_string("webservice_anziif_crmtokenapi", "auth_anziif") ?></label></td>
	    <td>
	        <input id="crmtokenapi" name="crmtokenapi" type="text" size="30" value="<?php echo $config->crmtokenapi?>" />
	        <?php
	        if (isset($err["crmtokenapi"])) {
	            echo $OUTPUT->error_text($err["crmtokenapi"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("webservice_anziif_crmtokenapi_desc", "auth_anziif") ?></td>
	</tr>
	
	<tr valign="top" class="required">
	    <td align="right"><label for="emailforerror"><?php print_string("webservice_anziif_emailforerror", "auth_anziif") ?></label></td>
	    <td>
	        <input id="emailforerror" name="emailforerror" type="text" size="30" value="<?php echo $config->emailforerror?>" />
	        <?php
	        if (isset($err["emailforerror"])) {
	            echo $OUTPUT->error_text($err["emailforerror"]);
	        }
	        ?>
	    </td>
	    <td><?php print_string("webservice_anziif_emailforerror_desc", "auth_anziif") ?></td>
	</tr>
	
</table>


